@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-surfaceHighlight: #27272a;
  --color-secondary: #a1a1aa;
  --color-primary: #ffffff;
  --color-accent: #c084fc;
  
  --font-serif: "Inter", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-white antialiased;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #09090b;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}
